/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5/04/2019, 06:59:03 PM
    Author     : Yeison
*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.contenedor, .contenav, .cont-footer{
    display: table;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.contenav {
    width: 80%;
}

body {
    background: linear-gradient(to bottom, #000077, #fff);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #333;
    font-size: 14pt;
    line-height: 1.42857143;
}

#top-header {
    font-family: OCR A;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1e1e1e;
}

#top-header>.contenedor>.links-header img{
    height: 18px;
    vertical-align: middle;
}

.links-header {
    color: #fff;
}


a {
    font-weight: 500;
    -webkit-transition: 0.8s color;
    transition: 0.8s color;
    text-decoration: none;
}

.links-header li {
    display: inline-block;
    margin-right: 15px;
    font-size: 10pt;
}

#header, #nav {
    padding-top: 15px;
    padding-bottom: 15px;
}

#header {
    background: linear-gradient(to bottom, #840000, #000077);
}

#nav {
    background: linear-gradient(to bottom, #000077, #000);
}

.header-logo {
    margin-left: 20px;
}

.block1 {
    float: left;
    width: 25%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.header-logo>.logo>img{
    display: block;
    width: 250px;
}

.carrito{
    width: 50px;
}

.row {
    content: " ";
    clear: both;
    margin-left: -15px;
    margin-right: -15px;
}

.block2 {
    width: 50%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}

.block-esquina {
    position: fixed;
    margin-right: 15px;
    margin-top: -15px;
    position: relative;
    float: right;
    text-align: right;
}

.login img, .footer2 img {
    margin-right: 5px;
    height: 20px;
    vertical-align: middle;
}

.carro, .buscador {
    padding: 15px 0px 15px 10px;
    text-align: center;
}

.input-buscador {
    padding: 8px 0 8px 8px;
    width: 75%;
    background-color: #FFF;
}

.boton-buscar {

    width: 35px;
    height: 35px;
    background-color: #840000;
    border-color: #FFF;
}

.boton-buscar img{
    padding: 0;
    height: 20px;
    margin: -5px;
}

/*      NAV      */

.ul-menu {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    margin: 0;
    width: 100%;
}

.ul-menu>li:hover {
    background: linear-gradient(to bottom, #666 , #000077);
}

.ul-menu>li:active {
    background: linear-gradient(to bottom, #000077 , #666);
}

.ul-menu>li{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 2px 0;
    width: 100%;
    border-bottom: 1.5px solid #fff;
    border-top: 1.5px solid #fff;
    background: linear-gradient(to bottom, #000077 , #666);
}

.ul-menu>li>a , .block-esquina>.login{
    color: #fff;
    width: 100%;
    text-align: center;
}

.ul-menu>#inicio{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-left: 1.5px solid #fff;
}

.ul-menu>#inicio>a{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.ul-menu>#contactenos {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-right: 1.5px solid #fff;
}

.ul-menu>#contactenos>a{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#slider {
    overflow: hidden;
    margin: 50px;
}

#slider figure {
    position: relative;
    width: 100%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite ease-in-out ;
}

#slider figure {
    
    width: 500%;
    float: left;
}

#slider figure img {
    width: 10%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }

    25% {
        left: 0;
    }

    50% {
        left: -100%;
    }

    75% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

.img-1 {
    border: 5px solid #000; 
    border-right: 1px solid #000;
}

.img-2 {
    border: 5px solid #000; 
    border-left: 1px solid #000;
}

.cont-footer {
    background: #000;
    color: #fff;
    padding-bottom: 2em;
    margin-top: 5em;
}

.footer {
    float: left;
    width: 25%;
    text-align: center;
}

.mv, .sub-co{
    color: #000;
    width: 80%;
    text-align: center;
    margin: auto;
}

p {
    text-align: justify;
    font-size: 14pt;
    padding-bottom: 30px;
    color: #FFF;
}

.pfooter, .servicios, .footer2 {
    margin: 0 3em;
}

h2{
    margin: 50px 0 35px 0;
    text-align: center;
    color: #fff;
    font-family: 'Ubuntu', 'Lato', sans-serif;
    font-size: 24pt;
}   

h3 {
    margin-bottom: 1em;
    font-size: 18pt;
}

h4 {
    margin: 1em 0;
    font-size: 15pt;
} 

.footer2{
    text-align: justify;
}

.footer2 img,.links-header img{
    height: 18px;
}

.servicios {
    text-align: initial;
 }

 .servicios>li, .footer2>li{
     margin-bottom: 1em;
 }

 hr {
     margin: 20px 0;
 }

.contenido {
    margin: 40px;
    background: linear-gradient(to bottom right, #000 ,#aaa, #000);
    width: 60%;
    margin: 25px auto;
    padding: 25px;
    padding-bottom: 50px; 
    border: #666 solid 5px;
}

.contenido p {
    font-size: 14pt;
    text-shadow: 2px 2px #000;
}

.contenido h2 {
    text-shadow: 2px 2px #000;
}

.sobre {
    margin-left: -8px;
}